body,
html {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  background: #e5e5e5 !important;
  overflow-x: hidden;
}

.navbar {
  top: 0;
  width: 100%;
  background-color: #333333 !important;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.navbar-nav > li > .dropdown-menu { background-color: #333333; }

/* Style the search box inside the navigation bar */
.navbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  font-size: 15px;
}

.main {
  margin-top: 10px; /* Add a top margin to avoid content overlay */
}

.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #8bbd78;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;

  /* shadow effect around login box */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 5px;

}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #c0392b ;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: #c0392b !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #c0392b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #c0392b !important;
}

.movie-card-container {
  float: left;
}

.movie-body {
  float: left;
  padding-left: 15px;
  width: 70%;
}

.movie-extras a {
  padding: 30px;
}

.movie-synopsis {
  word-wrap: break-word;
  padding: 10px;
}

.review-card {
  padding: 10px;
}

.poster-image {
  height: 300px;
  width: 175px;
  float: left;
  padding: 5px;
}

.home-block {
    background: #664c8f;
    padding: 30px 30px;
}

.home-block-text {
    color: white;
    font-family: Arial;
    text-align: center;
}

.home-block-link {
    display: block;
    text-align: center;
    width: 150px;
    margin: 0px auto;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-family: Arial;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 10px;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

.recommended-poster {
  height: 300px;
  width: auto;
}

.more {
  margin-top: 10px;
  padding: 10px;
}

.imdb-card {
  width: 50%;
}

.center {
  margin: auto;
  width: 100%;
  padding-left: 20%;
}

.no-rec {
  margin-left: 15px;
}

.rec-cards {
  padding: 15px
}

.word-wrap {
  word-break: break-all;
  // word-wrap: break-word;
  // overflow-wrap: break-word;
}