{% extends "base.html" %}

{% block content %}

<h1>About</h1>

<hr>

<h4> This project uses the BeautifulSoup library to scrape IMDB for information such as the title, genres, actors etc. <h4>

<hr>

<p> The base data is the entire top 250 rated movies list and then users can submit new movies by just inputting an imdb link which runs a scrape on that link and adds it to the DB. </p>

<hr>

<p>This project also contains a restful api.</p>

<hr>

<h4>Technologies used: <h4>

<p>Python</p>
<p>Flask</p>
<p>Jinja</p>
<p>JavaScript</p>
<p>Jquery</p>
<p>Ajax</p>
<p>SQL</p>
<p>HTML</p>
<p>CSS</p>
<p>Bootstrap</p>

{% endblock %}