{% extends "base.html" %}

{% block content %}

{% if error %}
	<div class="alert alert-danger" role="alert">
	    The link inputted is either invalid or has already been used
	</div>
{% endif %}

<p>Please enter the imdb link of the movie you wish to add to our database below: </p>

<p>E.g. https://www.imdb.com/title/tt6320628/</p>

 <form action="/imdb/add" method="post">
  <label for="imdb_input">Imdb Link</label>
  <input type="text" name="imdb_input" id="imdb_input_box">
  <input type="submit" value="Submit">
</form>

{% endblock %}