<!DOCTYPE html>

<html>
<head>
  <title>Movie Hub</title>
  
  <link rel="icon" href="https://i.pinimg.com/originals/59/94/98/5994989ff42c36f535c19a850116c3a1.jpg">
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="{{ url_for('static', filename='base.js') }}"></script>

</head>


<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/">IMDB Scraper</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/imdb250">Movies</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Extras
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/movie">API</a>
          <a class="dropdown-item" href="/about">About</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Profile
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/profile">My Profile</a>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>

      <li class="nav navbar-nav navbar-right">
        <input type="text" id="search-input" placeholder="Search..">
        <button type="submit" id="search-input-button" onclick="search()"><i class="fa fa-search"></i></button>
      </li>
      </ul>



    </nav>

<div class="main container">
  {% block content %}
  {% endblock %}
</div>

</body>


<script type="text/javascript">

$("#search-input").keyup(function(event) {
if (event.keyCode === 13) {
  $("#search-input-button").click()
}
});

</script>


</html>
