{% extends "base.html" %}

{% block content %}


<h2 class="welcome-message">Welcome {{g.user.capitalize()}}</h2>

<div class="container-fluid">

  <div class="row top-buffer">

  	<div class="col-sm d-flex align-items-stretch">
		<div class="card" style="width: 30rem;">
		  <div class="card-body">
		  	<h4>Communities</h4>
		  	<a class="stretched-link" href="/communities"></a>
		    <p class="card-text">Take a look at the communities you've joined.</p>
		  </div>
		</div>
	</div>

    <div class="col-sm d-flex align-items-stretch">
		<div class="card" style="width: 30rem;">
		  <div class="card-body">
		  	<h4>Recommendations</h4>
		  	<a class="stretched-link" href="/recommendations"></a>
		    <p class="card-text">See what we suggest based on what you like.</p>
		  </div>
		</div>
	</div>

    <div class="col-sm d-flex align-items-stretch">
		<div class="card" style="width: 30rem;">
		  <div class="card-body">
		  	<h4>Add</h4>
		  	<a class="stretched-link" href="/imdb/add"></a>
		    <p class="card-text">Make an addition to our collection by supplying an imdb link.</p>
		  </div>
		</div>
	</div>

	<div class="col-sm d-flex align-items-stretch">
		<div class="card" style="width: 30rem;">
		  <div class="card-body">
		  	<h4>News</h4>
		  	<a class="stretched-link" href="/news"></a>
		    <p class="card-text">See what new movies and features have been added recently.</p>
		  </div>
		</div>
	</div>

	<div class="col-sm d-flex align-items-stretch">
		<div class="card" style="width: 30rem;">
		  <div class="card-body">
		  	<h4>Search</h4>
		  	<a class="stretched-link" href="/search"></a>
		    <p class="card-text">Find your favourite movie and see what others think.</p>
		  </div>
		</div>
	</div>

	<div class="col-sm d-flex align-items-stretch">
		<div class="card" style="width: 30rem;">
		  <div class="card-body">
		  	<a class="stretched-link" href="https://gitlab.com/Oduu/imdb-scraper"></a>
		  	<h4>GitLab</h4>
		    <p class="card-text">Take a look at the code used to create this website.</p>
		  </div>
		</div>
	</div>

</div>




{% endblock %}

