{% extends "base.html" %}

{% block content %}

<div class="imdb-250 center">
	<h2 class="title">Current top 250 rated movies on IMDB</h2>

	{% for film, details in films.items() %}
		<div class="card mb-3 imdb-card" style="min-width: 450px">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="{{details.image}}" class="card-img">
			    </div>
			    <div class="col-md-6 w-75 imdb-card-body">
			      <div class="card-body">
			        <a href="/m/{{film}}" class="card-title">{{film}}</a>
			        <p class="card-text">Rating: {{details.rating}}</p>
			        <p class="card-text">Genres: {{details.genres}}</p>
			      </div>
			    </div>
			  </div>
		</div>
	{% endfor %}
</div>





{% endblock %}