<!DOCTYPE html>

<html>
<head>
    <title>Message Board Project</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <!--- error variable passed through from app.py --->
  {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
  {% endif %}
  <!--- login form --->
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="user_card">
        <div class="d-flex justify-content-center">
          <div class="brand_logo_container">
            <img src="https://i.pinimg.com/originals/59/94/98/5994989ff42c36f535c19a850116c3a1.jpg" class="brand_logo" alt="Logo">
          </div>
        </div>
        <div class="d-flex justify-content-center form_container">
          <form action="/login" method="post">
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" name="user" class="form-control input_user" value="" id="username-input" placeholder="Username">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" name="password" class="form-control input_pass" id="password-input" value="" placeholder="Password">
            </div>
            <div class="d-flex justify-content-center mt-3 login_container">
              <input type="submit" value="Login">
            </div>
          </form>
        </div>
        <div class="mt-4">
          <div class="d-flex justify-content-center links">
            Don't have an account? <a href="/signup" class="ml-2">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<style type="text/css">

</style>

<script>

</script>

</html>