{% extends "base.html" %}

{% block content %}

{% include "movie_sidebar.html" %}

	<div class="container-fluid recommendations-container">
		<p>With the same director:</p>
		
		<div class="row rec-cards" id="director-recommendations">
			
			{% if director_rec %}

			{% for suggestion in director_rec %}
			
				<div class="card director-rec-card" id="recSection{{suggestion.id}}" style="width: 15rem;">
		  			<img id="moviePoster{{suggestion.id}}" class="card-img-top" src="{{suggestion.poster_link}}" alt="Card image cap">
		  			<div class="card-body">
		  				<a class="stretched-link" href="/m/{{suggestion.title}}"></a>
		    			<h5 id="recTitle{{suggestion.id}}" class="card-title">{{suggestion.title}}</h5>
		  			</div>
				</div>

			{% endfor %}
			
			{% else %}

			<p class="no-rec">No Recommendations</p>

			{% endif %}

		</div>

		<button id="refresh-dir-rec" class="updateButton btn btn-info" movie_title="{{movie_details.title}}">Update</button>

		<hr>

		<p>With the same writer:</p>

		<div class="row rec-cards" id="writer-recommendations">
			
			{% if writer_rec %}

			{% for suggestion in writer_rec %}
			
				<div class="card writer-rec-card" id="recSection{{suggestion.id}}" style="width: 15rem;">
		  			<img id="moviePoster{{suggestion.id}}" class="card-img-top" src="{{suggestion.poster_link}}" alt="Card image cap">
		  			<div class="card-body">
		  				<a class="stretched-link" href="/m/{{suggestion.title}}"></a>
		    			<h5 id="recTitle{{suggestion.id}}" class="card-title">{{suggestion.title}}</h5>
		  			</div>
				</div>

			{% endfor %}
			
			{% else %}

			<p class="no-rec">No Recommendations</p>

			{% endif %}

		</div>

		<button id="refresh-wri-rec" class="updateButton btn btn-info" movie_title="{{movie_details.title}}">Update</button>

		<hr>

		<p>With the same actor:</p>

		<div class="row rec-cards" id="actor-recommendations">
			
			{% if actor_rec %}

			{% for suggestion in actor_rec %}
			
				<div class="card actor-rec-card" id="recSection{{suggestion.id}}" style="width: 15rem;">
		  			<img id="moviePoster{{suggestion.id}}" class="card-img-top" src="{{suggestion.poster_link}}" alt="Card image cap">
		  			<div class="card-body">
		  				<a class="stretched-link" href="/m/{{suggestion.title}}"></a>
		    			<h5 id="recTitle{{suggestion.id}}" class="card-title">{{suggestion.title}}</h5>
		  			</div>
				</div>

			{% endfor %}
			
			{% else %}

			<p class="no-rec">No Recommendations</p>

			{% endif %}

		</div>

		<button id="refresh-act-rec" class="updateButton btn btn-info" movie_title="{{movie_details.title}}">Update</button>




	</div>

{% endblock %}

