{% extends "base.html" %}

{% block content %}

{% include "movie_sidebar.html" %}

	<div class="Posts">
		<p>Posts</p>

		{% if top_rated %}

		{% for post in top_rated %}

		<div class="card">
		<div class="card">
			<div class="card-header">
				<a href="/m/post/{{post.id}}">{{post.title}}</a>
			</div>
			<div class="card-body">
			<p>By: {{post.username.capitalize()}}</p>
			<p>{{post.created}}</p>
			</div>
		</div>
		</div>

		{% endfor %}

		{% else %}

		<p>No posts yet</p>

		{% endif %}
	</div>

	<hr>

{% endblock %}