{% extends "base.html" %}

{% block content %}

{% include "movie_sidebar.html" %}
	

	<div class="reviews">
		<p>Reviews</p>

		{% if top_rated %}

		{% for review in top_rated %}

		<div class="card">
		<div class="card">
			<div class="card-header">
				<a href="/m/review/{{review.id}}">{{review.title}}</a>
			</div>
			<div class="card-body">
			<p>By: {{review.username.capitalize()}}</p>
			<p>{{review.created}}</p>
			</div>
		</div>
		</div>

		{% endfor %}

		{% else %}

		<p>No reviews yet</p>

		{% endif %}
	</div>

	<hr>

{% endblock %}