{% extends "base.html" %}

{% block content %}

{% include "movie_sidebar.html" %}

	
	<div class="reviews">
		<p>Top Rated Review</p>
	{% if top_review %}
		<div class="card">
			<div class="card-header">
				<a href="/m/review/{{top_review.id}}">{{top_review.title}}</a>
			</div>
			<div class="card-body">
			<p>By: {{top_review.username.capitalize()}}</p>
			<p>{{top_review.created}}</p>
			</div>
		</div>
	{% else %}
		<div class="card">
			<div class="card-header">
				<a href="/m/{{movie_details.title}}/reviews/submit">Be the first to submit a review</a>
			</div>
		</div>
	</div>


	{% endif %}

	<hr>

	<div class="posts">
		<p>Top Rated Post</p>
	{% if top_post %}
		<div class="card">
			<div class="card-header">
				<a href="/m/post/{{top_post.id}}">{{top_post.title}}</a>
			</div>
			<div class="card-body">
			<p>By: {{top_post.username.capitalize()}}</p>
			<p>{{top_post.created}}</p>
			</div>
		</div>
	{% else %}
		<div class="card">
			<div class="card-header">
				<a href="/m/{{movie_details.title}}/posts/submit">Be the first to submit a post</a>
			</div>
		</div>
	</div>

	{% endif %}

	<hr>

	<div class="movie-synopsis">
		<p>See more reviews and posts on the community page.</p>
	</div>

	<hr>

</div>

{% endblock %}