<div class="movie-card-container card" style="width: 16rem;">
  <img src="{{movie_details.poster_link}}" class="card-img-top movie-image" alt="...">

  <div class="card-body">
    <h5 class="card-title">{{movie_details.title}}</h5>
    <hr>
    <p class="card-director">Director: {{movie_details.director}}</p>
    <p class="card-writer">Writer: {{movie_details.writer}}</p>
    <p class="card-genre">Genres: {{movie_details.genre}} </p>
    <p class="card-actor">Actors: {{movie_details.actor}}</p>
    <hr>
    <p>Rating: {{movie_details.imdb_rating}} </p>
    <hr>
    <a href="/m/{{movie_details.title}}" class="movie-main-btn btn btn-info">Main</a>

    {% if "join-community" in page_buttons%}
    <a href="/m/{{movie_details.title}}/community/join" class="movie-main-btn btn btn-info">Join Community</a>
    {% endif %}
    
    {% if "submit_review" in page_buttons %}
    <a href="/m/{{movie_details.title}}/reviews/submit" class="movie-main-btn btn btn-info">Submit Review</a>
    {% endif %}

    {% if "edit_review" in page_buttons and g.id == review.person_id %}
    <a href="/m/review/{{review.id}}/update" class="movie-main-btn btn btn-info">Edit Review</a>
    {% endif %}

    {% if "submit_post" in page_buttons %}
    <a href="/m/{{movie_details.title}}/posts/submit" class="movie-main-btn btn btn-info">Submit Post</a>
    {% endif %}

    {% if "edit_post" in page_buttons and g.id == post.person_id %}
    <a href="/m/post/{{post.id}}/update" class="movie-main-btn btn btn-info">Edit Post</a>
    {% endif %}

  </div>
</div>

<div class="movie-body">
  <div class="movie-extras">
    <a href="{{movie_details.imdb_link}}" class="imdb-link">IMDB</a>
    <a href="/m/{{movie_details.title}}/reviews" class="review-link">Reviews</a>
    <a href="/m/{{movie_details.title}}/recommendations" class="recommendations-link">Recommendations</a>
    <a href="/m/{{movie_details.title}}/posts" class="community-link">Community</a>
    <a href="/m/{{movie_details.title}}/change" class="update-info">Submit change</a>
  </div>

  <hr>