{% if actor_rec %}

	{% for suggestion in actor_rec %}

		<div class="card actor-rec-card" id="recSection{{suggestion.id}}" style="width: 15rem;">
			<img id="moviePoster{{suggestion.id}}" class="card-img-top" src="{{suggestion.poster_link}}" alt="Card image cap">
			<div class="card-body">
				<a class="stretched-link" href="/m/{{suggestion.title}}"></a>
			<h5 id="recTitle{{suggestion.id}}" class="card-title">{{suggestion.title}}</h5>
			</div>
		</div>

{% endfor %}

{% else %}

<p class="no-rec">No Recommendations</p>

{% endif %}