{% extends "base.html" %}

{% block content %}

<h1>News</h1>

<h4> - API created, which can be visited at /movie </h4>
<h4> - Review system added </h4>
<h4> - Post system added </h4>
<h4> - Users can now add movies via an imdb link</h4>

{% endblock %}