{% extends "base.html" %}

{% block content %}

{% include "movie_sidebar.html" %}

	<div class="posts">
		<p>Top Rated Posts</p>

		{% if top3 %}

		{% for post in top3 %}

		<div class="card">
		<div class="card">
			<div class="card-header">
				<a href="/m/post/{{post.id}}">{{post.title}}</a>
			</div>
			<div class="card-body">
			<p>By: {{post.username.capitalize()}}</p>
			<p>{{post.created}}</p>
			</div>
		</div>
		</div>

		{% endfor %}

		<a class="more" href="/m/{{movie_details.title}}/posts/more">More...</a>

		{% else %}

		<div class="card">
			<div class="card-header">
				<p>No posts yet</p>
				<a href="/m/{{movie_details.title}}/posts/submit">Be the first to submit a post</a>
			</div>
		</div>

		{% endif %}
	</div>

	<hr>

	<div class="posts">
		<p>Most Recent Posts</p>

		{% if most_recent %}

		{% for post in most_recent %}

		<div class="card">
		<div class="card">
			<div class="card-header">
				<a href="/m/post/{{post.id}}">{{post.title}}</a>
			</div>
			<div class="card-body">
			<p>By: {{post.username.capitalize()}}</p>
			<p>{{post.created}}</p>
			</div>
		</div>
		</div>

		{% endfor %}

		<a class="more" href="/m/{{movie_details.title}}/posts/more">More...</a>

		{% else %}

		<div class="card">
			<div class="card-header">
				<p>No posts yet</p>
				<a href="/m/{{movie_details.title}}/posts/submit">Be the first to submit a review</a>
			</div>
		</div>


		{% endif %}
	</div>

</div>

{% endblock %}