{% extends "base.html" %}

{% block content %}

{% include "movie_sidebar.html" %}

	<h2>{{review.title}}</h2>

	<p>{{review.body}}</p>

	<hr>

	<form action="/m/review/{{review.id}}" method="post">
		<div class="form-group">
			<label for="comment-body">New Comment</label>
			<textarea name="comment-body" class="form-control" id="new-comment" placeholder="Type your comment here..."></textarea>
		</div>
		<div class="submit-comment">
			<input type="submit" value="Submit">
		</div>
	</form>

	<hr>

	<h3>Comments</h3>

	<table class="table">
	<tr>
	<th style="width: 5%">User</th>
	<th style="word-wrap: break-word;min-width: 50%;max-width: 50%";>Comment</th>
	<th style="width: 5%">Created</th>
	</tr>
	<tbody>

	{% for comment in comments %}
	<tr>
	<td class="word-wrap">{{comment.username}}</td>
	<td class="word-wrap">{{comment.body}}

	</td>
	<td class="comment-date">{{comment.created}}</td>
	</tr>
	{% endfor %}

	</tbody>
	</table>


</div>

{% endblock %}