{% extends "base.html" %}

{% block content %}

{% include "movie_sidebar.html" %}

	<div class="reviews">
		<p>Top Rated Reviews</p>

		{% if top3 %}

		{% for review in top3 %}

		<div class="card">
		<div class="card">
			<div class="card-header">
				<a href="/m/review/{{review.id}}">{{review.title}}</a>
			</div>
			<div class="card-body">
			<p>By: {{review.username.capitalize()}}</p>
			<p>{{review.created}}</p>
			</div>
		</div>
		</div>

		{% endfor %}

		<a class="more" href="/m/{{movie_details.title}}/reviews/more">More...</a>

		{% else %}

		<div class="card">
			<div class="card-header">
				<p>No reviews yet</p>
				<a href="/m/{{movie_details.title}}/reviews/submit">Be the first to submit a review</a>
			</div>
		</div>

		{% endif %}
	</div>

	<hr>

	<div class="reviews">
		<p>Most Recent Reviews</p>

		{% if most_recent %}

		{% for review in most_recent %}

		<div class="card">
		<div class="card">
			<div class="card-header">
				<a href="/m/review/{{review.id}}">{{review.title}}</a>
			</div>
			<div class="card-body">
			<p>By: {{review.username.capitalize()}}</p>
			<p>{{review.created}}</p>
			</div>
		</div>
		</div>

		{% endfor %}

		<a class="more" href="/m/{{movie_details.title}}/reviews/more">More...</a>

		{% else %}

		<div class="card">
			<div class="card-header">
				<p>No reviews yet</p>
				<a href="/m/{{movie_details.title}}/reviews/submit">Be the first to submit a review</a>
			</div>
		</div>


		{% endif %}
	</div>

</div>

{% endblock %}