{% extends "base.html" %}

{% block content %}

<div class="movie-card-container card" style="width: 16rem;">
  <img src="https://m.media-amazon.com/images/M/MV5BNGVjNWI4ZGUtNzE0MS00YTJmLWE0ZDctN2ZiYTk2YmI3NTYyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg" class="card-img-top movie-image" alt="...">

  <div class="card-body">
    <h5 class="card-title">Joker</h5>
    <hr>
    <p class="card-director">Director: </p>
    <p class="card-genre">Genres: </p>
    <p class="card-actor">Actors: </p>
    <hr>
    <p>Rating: </p>
    <hr>
    <a href="#" class="join-community btn btn-info">Join community</a>
  </div>
</div>

<div class="movie-body">
	<div class="movie-extras">
		<a href="#" class="imdb-link">IMDB</a>
		<a href="#" class="review-link">Reviews</a>
		<a href="#" class="recommendations-link">Recommendations</a>
		<a href="#" class="trailer-link">Trailer</a>
		<a href="#" class="update-info">Submit change</a>
	</div>
	<hr>
	<div class="movie-synopsis">
	Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City. Arthur wears two masks -- the one he paints for his day job as a clown, and the guise he projects in a futile attempt to feel like he's part of the world around him. Isolated, bullied and disregarded by society, Fleck begins a slow descent into madness as he transforms into the criminal mastermind known as the Joker.
	</div>
	
	<hr>
	<div class="reviews">
		<p>Top Rated Reviews</p>
		<div class="card">
			<div class="card-header">
				<a href="#">Review Title</a>
			</div>
			<div class="card-body">
			<p>Review Sample</p>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<a href="#">Review Title</a>
			</div>
			<div class="card-body">
			<p>Review Sample</p>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<a href="#">Review Title</a>
			</div>
			<div class="card-body">
			<p>Review Sample</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}