{% extends "base.html" %}

{% block content %}

<p>Results for "{{criteria}}"</p>

<hr>

<h5>Titles</h5>

<div class="container-fluid">
	<div class="row top-buffer">
		
		{% for movie_result in movieResults %}
		
		<div class="col-sm d-flex align-items-stretch">
		 	
		 	<div class="movie-card-container card" style="width: 16rem;">

				<img src="{{movie_result.poster_link}}" class="card-img-top movie-image" alt="...">
				<a class="stretched-link" href="/m/{{movie_result.title}}"></a>
		  		<div class="card-body">
		    		<h5 class="card-title">{{movie_result.title}}</h5>
		    		<p>Rating: {{movie_result.imdb_rating}} </p>
		 		</div>

			</div>

		</div>
		
		{% endfor %}

	</div>
</div>
<hr>

<h5>Actors</h5>

<div class="container-fluid">
	<div class="row top-buffer">
		
		{% for actor_result in actorResults %}
		
		<div class="col-sm d-flex align-items-stretch">
		 	
		 	<div class="movie-card-container card" style="width: 16rem;">

				<!-- <img src="" class="card-img-top movie-image" alt="..."> -->

		  		<div class="card-body">
		    		<h5 class="card-title">{{actor_result.actor_name}}</h5>
		 		</div>

			</div>

		</div>
		
		{% endfor %}

	</div>
</div>

<hr>


{% endblock %}

