{% extends "base.html" %}

{% block content %}

{% include "movie_sidebar.html" %}

	<h2>Submit Review</h2>

	<form action="/m/{{movie_details.title}}/reviews/submit" method="post">
		<div class="form-group">
			<label for="review-title">Review Title</label>
			<textarea name="review-title" class="form-control" id="new-review-title" placeholder="Enter a review title here..."></textarea>
		</div>
		<div class="form-group">
			<label for="review-body">Review Body</label>
			<textarea name="review-body" class="form-control" id="new-review-body" placeholder="Enter the body of your review here..."></textarea>
		</div>
		<div class="submit-review">
			<input type="submit" value="Submit">
		</div>
	</form>

</div>

{% endblock %}