{% extends "base.html" %}

{% block content %}

{% include "movie_sidebar.html" %}

	<h2>Submit Post</h2>

	<form action="/m/{{movie_details.title}}/posts/submit" method="post">
		<div class="form-group">
			<label for="post-title">Post Title</label>
			<textarea name="post-title" class="form-control" id="new-post-title" placeholder="Enter a post title here..."></textarea>
		</div>
		<div class="form-group">
			<label for="post-body">Post Body</label>
			<textarea name="post-body" class="form-control" id="new-post-body" placeholder="Enter the body of your post here..."></textarea>
		</div>
		<div class="submit-post">
			<input type="submit" value="Submit">
		</div>
	</form>

</div>

{% endblock %}