{% extends "base.html" %}

{% block content %}

<p>{{get_all}}</p>
<button id="getJson">Get JSON</button>

<script type="text/javascript">
  document.getElementById('getJson').addEventListener
  ('click', test);

  function test() {
    axios.get('http://localhost:5000/movie')
      .then(function (response) {
      	let resp = response.data
      	for (let prop in resp){
      		console.log(resp[prop])
      	}
      });
    }
</script>

{% endblock %}