{% extends "base.html" %}

{% block content %}

{% include "movie_sidebar.html" %}

	{% if g.id == post.person_id %}

	<form action="/m/post/{{post.id}}/update" method="post">
		<div class="form-group">
			<label for="post-title">{{post.title}}</label>
			<textarea name="update-post-title" class="form-control" id="new-post-title" placeholder="Update your post title here..."></textarea>
		</div>
		<div class="form-group">
			<label for="post-body">{{post.body}}</label>
			<textarea name="update-post-body" class="form-control" id="new-post-body" placeholder="Update the body of your post here..."></textarea>
		</div>
		<div class="submit-post">
			<input type="submit" value="Submit">
		</div>
	</form>

	{% else %}

	<p>You do not have access to edit this post</p>

	{% endif %}

	<hr>


</div>

{% endblock %}