{% extends "base.html" %}

{% block content %}

{% include "movie_sidebar.html" %}

	{% if g.id == review.person_id %}

	<form action="/m/review/{{review.id}}/update" method="post">
		<div class="form-group">
			<label for="review-title">{{review.title}}</label>
			<textarea name="update-review-title" class="form-control" id="new-review-title" placeholder="Update your review title here..."></textarea>
		</div>
		<div class="form-group">
			<label for="review-body">{{review.body}}</label>
			<textarea name="update-review-body" class="form-control" id="new-review-body" placeholder="Update the body of your review here..."></textarea>
		</div>
		<div class="submit-review">
			<input type="submit" value="Submit">
		</div>
	</form>

	{% else %}

	<p>You do not have access to edit this post</p>

	{% endif %}

	<hr>


</div>

{% endblock %}